<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title  th:text="{score.add}"></title>
    <head th:insert="~{fragments/fragment::html_head}"></head>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<form th:action="@{/admin/scores/create}" method="post" class="container mt-5 pb-5">
    <div class="mb-3">
        <label for="employeeId" class="form-label" th:text="{employee}"></label>
        <select class="form-select" id="employeeId" name="employee.id" required>
            <option value="" disabled selected th:text="#{score.selectEmployee}"></option>
            <option th:each="employee : ${employees}"
                    th:value="${employee.id}"
                    th:text="${employee.fullName}"></option>
        </select>
    </div>
    <div class="mb-3">
        <label for="type" class="form-label" th:text="#{score.type}"></label>
        <select class="form-select" id="type" name="type" required>
            <option value="true" th:text="#{score.achieve}"></option>
            <option value="false" th:text="#{score.disciple}"></option>
        </select>
    </div>

    <div class="mb-3">
        <label for="recordedDate" class="form-label" th:text="#{score.recordDate}"></label>
        <input type="date" class="form-control" id="recordedDate" name="recordedDate" required>
    </div>

    <div class="mb-3">
        <label for="reason" class="form-label" th:text="#{score.reason}"></label>
        <textarea class="form-control" id="reason" name="reason" rows="3" required></textarea>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{action.close}"></button>
        <button type="submit" class="btn btn-primary" th:text="#{action.create}"></button>
    </div>
</form>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
