<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{score.department}"></title>
    <head th:insert="~{fragments/fragment::html_head}"></head>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="container my-4">
    <h2>  <span th:text="#{score.employeeInDepartment}"></span> <span th:text="${department.name}"></span></h2>
    <br>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th th:text="#{employee.name}"></th>
            <th th:text="#{score.type}"></th>
            <th th:text="#{score.reason}"></th>
            <th th:text="#{score.recordDate}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="score : ${scores}">
            <td th:text="${score.employee.fullName}"></td>
            <td th:text="${score.type ? 'Achievement' : 'Discipline'}"></td>
            <td th:text="${score.reason}"></td>
            <td th:text="${#dates.format(score.recordedDate, 'yyyy-MM-dd')}"></td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between mt-4">
        <a th:href="@{/user/departments/view/{id}(id=${department.id})}" class="btn btn-secondary">
            <span th:text="#{score.backToDepartmentDetail}"></span>
        </a>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
