<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit Score</title>
    <head th:insert="~{fragments/fragment::html_head}"></head>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="container my-5">
    <h2>Edit Score</h2>

    <form th:action="@{/admin/scores/edit/{id}(id=${score.id})}" method="post">
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="employeeId" class="form-label">Employee</label>
                <select class="form-select" id="employeeId" name="employee.id" required>
                    <option value="" disabled>Select an Employee</option>
                    <option th:each="employee : ${employees}"
                            th:value="${employee.id}"
                            th:text="${employee.fullName}"
                            th:selected="${employee.id == score.employee.id}">
                    </option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="type" class="form-label">Type</label>
                <select class="form-select" id="type" name="type" required>
                    <option th:value="true" th:selected="${score.type}">Achievement</option>
                    <option th:value="false" th:selected="!${score.type}">Discipline</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="recordedDate" class="form-label">Recorded Date</label>
                <input type="date" class="form-control" id="recordedDate" name="recordedDate"
                       th:value="${#dates.format(score.recordedDate, 'yyyy-MM-dd')}" required>
            </div>
        </div>

        <div class="mb-3">
            <label for="reason" class="form-label">Reason</label>
            <textarea class="form-control" id="reason" name="reason" rows="3" required th:text="${score.reason}"></textarea>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary">Update Score</button>
            <a th:href="@{/user/scores}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
