<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:replace="layout :: content">
    <h1>Quản Lý Phòng Ban</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Mã Phòng Ban</th>
            <th>Tên Phòng Ban</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">
            <td th:text="${department.id}"></td>
            <td th:text="${department.name}"></td>
            <td>
                <a href="#" class="btn btn-warning">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="#" class="btn btn-primary">Thêm Phòng Ban</a>
</div>
</body>
</html>
