<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{user.manage}"></title>
    <head th:insert="~{fragments/fragment::html_head}"></head>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="container mt-5">
    <h2 th:text="#{user.manage}">></h2>
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th>#</th>
            <th th:text="#{user.username}"></th>
            <th th:text="#{user.role}"></th>
            <th th:text="#{employee}"></th>
            <th th:text="#{user.active}"></th>
            <th th:text="#{action.title}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterStat : ${users}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.employee != null ? user.employee.fullName : 'N/A'}"></td>
            <td>
                <span th:if="${user.active}" class="badge bg-success" th:text="#{user.active}" ></span>
                <span th:if="${!user.active}" class="badge bg-danger" th:text="#{user.inactive}"></span>
            </td>
            <td>
                <a th:href="@{/admin/users/view/{id}(id=${user.id})}" class="btn btn-info btn-sm">
                    <span th:text="#{action.view}"></span>
                </a>

                <a th:href="@{/admin/users/edit/{id}(id=${user.id})}" class="btn btn-warning btn-sm">
                    <span th:text="#{action.edit}"></span>
                </a>
                <a th:href="@{/admin/users/delete/{id}(id=${user.id})}"
                   class="btn btn-danger"
                   onclick="event.preventDefault();
                             if(confirm('Are you sure you want to delete this department?')) {
                                 window.location.href=this.href;
                             }"
                    <span th:text="#{action.delete}"></span>
                >
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
