<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{user.manage}"></title>
  <head th:insert="~{fragments/fragment::html_head}"></head>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="container mt-5">
  <h2 th:text="#{user.detail}"></h2>

  <form th:action="@{/admin/users/edit/{id}(id=${user.id})}" method="post">
    <div class="mb-3">
      <label for="username" class="form-label" th:text="#{user.username}"></label>
      <input type="text" class="form-control" id="username" th:value="${user.username}" readonly>
    </div>

    <div class="mb-3">
      <label for="role" class="form-label" th:text="#{user.role}"></label>
      <input type="text" class="form-control" id="role" th:value="${user.role}" readonly>
    </div>

    <div class="mb-3">
      <label for="active" class="form-label" th:text="#{user.activeStatus}"></label>
      <select class="form-select" id="active" name="active">
        <option th:value="true" th:selected="${user.active}" th:text="#{user.active}"></option>
        <option th:value="false" th:selected="${!user.active}" th:text="#{user.inactive}"></option>
      </select>
    </div>

    <div class="mb-3">
      <label for="employee" class="form-label" th:text="#{user.assign}"></label>
      <select class="form-select" id="employee" name="employeeId">
        <option value="">None</option>
        <option th:each="employee : ${employees}"
                th:value="${employee.id}"
                th:text="${employee.fullName}"
                th:selected="${employee.id == user.employee?.id}">
        </option>
      </select>
    </div>
    <a href="/admin/users" class="btn btn-secondary" th:text="#{action.back}"></a>
  </form>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
