<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action">Quản lý Phòng Ban</a>
    <a href="#" class="list-group-item list-group-item-action">Quản lý Nhân Viên</a>
    <a href="#" class="list-group-item list-group-item-action">Thành tích & Kỷ luật</a>
    <a href="#" class="list-group-item list-group-item-action">Tổng hợp</a>
</div>
</body>
</html>
