<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4">
      <a class="navbar-brand" href="/user">ABC Group</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/user" th:text="#{navbar.home}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/employees" th:text="#{navbar.employees}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/departments" th:text="#{navbar.departments}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/scores" th:text="#{navbar.scores}">Scores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users" th:text="#{navbar.users}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/scores/rank" th:text="#{navbar.rank}"></a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <button class="dropbtn" th:text="#{navbar.language}"></button>
              <div class="dropdown-content">
                <a class="dropdown-item" th:href="@{/change-language(lang='en')}">English</a>
                <a class="dropdown-item" th:href="@{/change-language(lang='vi')}">Tiếng Việt</a>
              </div>
            </div>
          </li>
          <li class="nav-item ms-5">
            <form class="d-flex" th:action="${searchUrl}" method="get">
              <input id="searchInput" class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search" autocomplete="off">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </li>
        </ul>
        <div class="dropdown">
          <button class="dropbtn" th:text="${username}"></button>
          <div class="dropdown-content">
            <a th:if="${employeeId != null}" th:href="@{/user/employees/view/{id}(id=${employeeId})}" th:text="#{navbar.info}"></a>
            <a th:if="${employeeNotAssigned}" th:href="@{/account-not-assign}" th:text="#{navbar.info}"></a>
            <form th:action="@{/logout}" method="post">
              <button type="submit" class="dropdown-item" th:text="#{navbar.logout}"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
</html>
