<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{employee.detail}"></title>
    <head th:insert="~{fragments/fragment::html_head}"></head>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="container my-4 pb-5">
    <br>
    <h2 th:text="#{employee.detail}"></h2>
    <br>

    <div class="row">
        <div class="col-md-4">
            <img th:src="${employee.image}" alt="Employee Image" class="img-fluid rounded"
                 th:if="${employee.image != null}"/>
            <p th:if="${employee.image == null}" th:text="#{employee.noImage}"></p>
        </div>
        <div class="col-md-8">
            <table class="table table-striped">
                <tr>
                    <th th:text="#{employee.fullname}"></th>
                    <td th:text="${employee.fullName}"></td>
                </tr>
                <tr>
                    <th th:text="#{employee.gender}"></th>
                    <td th:text="${employee.gender}"></td>
                </tr>
                <tr>
                    <th th:text="#{employee.birthDay}"></th>
                    <td th:text="${#dates.format(employee.birthDate, 'dd/MM/yyyy')}"></td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td th:text="${employee.email}"></td>
                </tr>
                <tr>
                    <th th:text="#{employee.phone}"></th>
                    <td th:text="${employee.phone}"></td>
                </tr>
                <tr>
                    <th th:text="#{employee.salary}"></th>
                    <td th:text="${employee.salary}"></td>
                </tr>
                <tr>
                    <th th:text="#{employee.level}"></th>
                    <td th:text="${employee.level}"></td>
                </tr>
                <tr>
                    <th th:text="#{employee.department}"></th>
                    <td th:if="${employee.department != null}" th:text="${employee.department.name}"></td>
                    <td th:if="${employee.department == null}" th:text="${employee.department.noDepartment}"></td>
                </tr>
                <tr>
                    <th th:text="${total_achieve}"></th>
                    <td th:text="${totalAchievements}"></td>
                </tr>
                <tr>
                    <th th:text="${total_discipline}"></th>
                    <td th:text="${totalDisciplines}"></td>
                </tr>
                <tr>
                    <th th:text="${reward_score}"></th>
                    <td th:text="${rewardScore}"></td>
                </tr>
                <tr>
                    <th th:text="${score.detail}"></th>
                    <td>
                        <a th:href="@{/user/scores/employee/{id}(id=${employee.id})}" th:text="${action.view}">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-between mt-4">
        <a th:href="@{/user/employees}" class="btn btn-secondary" th:text="${action.back}">
        </a>
        <a th:href="@{/admin/employees/edit/{id}(id=${employee.id})}" class="btn btn-warning" th:text="${action.edit}">
        </a>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
