<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Employee Details</title>
    <head th:insert="~{fragments/fragment::html_head}"></head>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="container my-4 pb-5">
    <br>
    <h2>Employee Details</h2>
    <br>

    <div class="row">
        <div class="col-md-4">
            <img th:src="${employee.image}" alt="Employee Image" class="img-fluid rounded"
                 th:if="${employee.image != null}"/>
            <p th:if="${employee.image == null}">No Image Available</p>
        </div>
        <div class="col-md-8">
            <table class="table table-striped">
                <tr>
                    <th>Full Name:</th>
                    <td th:text="${employee.fullName}"></td>
                </tr>
                <tr>
                    <th>Gender:</th>
                    <td th:text="${employee.gender}"></td>
                </tr>
                <tr>
                    <th>Birthday:</th>
                    <td th:text="${#dates.format(employee.birthDate, 'dd/MM/yyyy')}"></td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td th:text="${employee.email}"></td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td th:text="${employee.phone}"></td>
                </tr>
                <tr>
                    <th>Salary:</th>
                    <td th:text="${employee.salary}"></td>
                </tr>
                <tr>
                    <th>Level:</th>
                    <td th:text="${employee.level}"></td>
                </tr>
                <tr>
                    <th>Department:</th>
                    <td th:if="${employee.department != null}" th:text="${employee.department.name}"></td>
                    <td th:if="${employee.department == null}">No Department Assigned</td>
                </tr>
                <tr>
                    <th>Total Achievements:</th>
                    <td th:text="${totalAchievements}"></td>
                </tr>
                <tr>
                    <th>Total Disciplines:</th>
                    <td th:text="${totalDisciplines}"></td>
                </tr>
                <tr>
                    <th>Reward Score:</th>
                    <td th:text="${rewardScore}"></td>
                </tr>
                <tr>
                    <th>Detail Score:</th>
                    <td>
                        <a th:href="@{/user/scores/employee/{id}(id=${employee.id})}">
                            See
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-between mt-4">
        <a th:href="@{/user/employees}" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Back to List
        </a>
        <a th:href="@{/admin/employees/edit/{id}(id=${employee.id})}" class="btn btn-warning">
            <i class="bi bi-pencil"></i> Edit
        </a>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
