<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{employee.add}"></title>
    <head th:insert="~{fragments/fragment::html_head}"></head>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<form th:action="@{/admin/departments/create}" method="post" class="container mt-5 pb-5">
    <div class="modal-header">
        <h5 class="modal-title" id="departmentModalLabel" th:text="#{department.add}"></h5>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="departmentName" class="form-label" th:text="#{department.table.name}"></label>
            <input type="text" name="name" class="form-control" id="departmentName" required>
        </div>
        <div class="mb-3">
            <label class="form-label" th:text="#{employee.select}"></label>
            <div th:each="employee : ${employees}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:id="'employee' + ${employee.id}" th:value="${employee.id}" name="employeeIds">
                    <label class="form-check-label" th:for="'employee' + ${employee.id}">
                        ID: <span th:text="${employee.id}"></span>, <span th:text="#{employee.name}"></span> <span th:text="${employee.fullName}"></span>, <span th:text="#{employee.birthDay}"></span> <span th:text="${#dates.format(employee.birthDate, 'dd/MM/yyyy')}"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a th:href="@{/user/departments}"  class="btn btn-secondary" th:text="#{action.back}"></a>
        <button type="submit" class="btn btn-primary" th:text="#{department.add}"></button>
    </div>
</form>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
