<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{department.detail}"></title>
    <head th:insert="~{fragments/fragment::html_head}"></head>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="container my-4 pb-5">
    <br>
    <h2 th:text="#{department.table.name}"><span th:text="${department.name}"></span></h2>
    <br>
    <h4 th:text="#{department.static}"></h4>
    <table class="table">
        <tr>
            <th th:text="#{total_achieve}"></th>
            <td th:text="${totalAchievements}"></td>
        </tr>
        <tr>
            <th th:text="#{total_discipline}"></th>
            <td th:text="${totalDisciplines}"></td>
        </tr>
        <tr>
            <th th:text="#{reward_score}"></th>
            <td th:text="${rewardScore}"></td>
        </tr>
        <tr>
            <th th:text="#{action.detail}">Detail:</th>
            <td>
                <a th:href="@{/user/scores/department/{id}(id=${department.id})}" th:text="#{action.view}">
                </a>
            </td>
        </tr>
    </table>
    <br>
    <h4 th:text="#{employee.list}"></h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th th:text="#{employee.name}"></th>
            <th th:text="#{employee.birthDay}"></th>
            <th>Email</th>
            <th th:text="#{employee.phone}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.fullName}"></td>
            <td th:text="${#dates.format(employee.birthDate, 'dd/MM/yyyy')}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phone}"></td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between mt-4">
        <a th:href="@{/user/departments}" class="btn btn-secondary" th:text="#{action.back}">
        </a>
        <a th:href="@{/admin/departments/edit/{id}(id=${department.id})}" class="btn btn-warning" th:text="#{action.edit}" >
        </a>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
